
.header {
    text-align: center;
    background-color: lightgrey;
    padding: 2% 0 2% 0;
}

.rules {
    background-color: lightgoldenrodyellow;
    padding: 1% 0 1% 0;
}

.target-num {
    padding: 2% 0 2% 0;
}

.user-score {
    padding: 2% 0 5% 0;
    width: 100%;
}

.win-row {
    padding-top: 2%;
}

.loss-row {
    margin-top: 10%;
}

.title {
    font-weight: bold;
    text-align: right;
    padding-left: 1%;
}
.crystals {
    height: 50px;
    text-align: center;
    font-size: 1.5em;
}